<article id="article-<%= article.id %>" class='h-entry hentry h-as-note'>
  <h2 class='content-subhead page-header p-name entry-title'><%= (controller.controller_name == 'redirect') ? article.title : link_to_permalink(article,article.title) %></h2>
  <%= render 'articles/meta', article: article %>    
  <hr/>
  <div class='post-description e-content entry-content article'>
    <%= render 'articles/protected_article_content', { :article => article } %>
  </div>

  <div class='comments'>
    <%= render 'articles/comment_counter', article: article %>
  </div>
  <div class='share pure-g'>
  	<span class='st_facebook_hcount pure-u-1-4' displayText='Facebook'></span>
	<span class='st_googleplus_hcount pure-u-1-4' displayText='Google +'></span>
	<span class='st_twitter_hcount pure-u-1-4' displayText='Tweet'></span>
	<span class='st_email_hcount pure-u-1-4' displayText='Email'></span>
  </div>
</article>
